.btm{
  border-top:1px solid rgba(0,0,0,0.2);
  background-color:gainsboro;
  position:fixed;
  bottom:0;
  width:100%;
  box-sizing: border-box;
  padding:20px 40px;
}

.btm__icons{
  font-size:25px;
  display: flex;
  justify-content: space-between;
}

.btm__link{
  color:black;
  text-decoration: none;
}

.btm__link__pos{
  position: relative;
}

.btm__link .small__chat__circle{
  position: absolute;
  left:13px;
  bottom:15px;
  animation: rot 2s ease-in-out infinite;
}

.btm__link{
  transform: translateY(50px);
    opacity: 0;
    animation: upBtn 0.3s ease-in-out forwards;
}

@keyframes rot{
  0%{
    transform: none;
  }
  50%{
    transform:translateY(-5px) rotateY(360deg); 
  }
  100%{
    transform: none;
  }
}

@keyframes upBtn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* <div class="btm">
      <i class="fas fa-user"></i>
      <i class="far fa-comment"></i>
      <i class="fas fa-search"></i>
      <i class="fas fa-ellipsis-h"></i>
    </div> */