@import "reset.css";
@import "top_bar.css";
@import "./loginpage/login_center.css";
@import "./loginpage/login_form.css";
@import "./friends/friends_bar.css";
@import "./friends/friends_icon.css";
@import "btm.css";
@import "./chats/chats.css";
@import "display.css";
@import "./find/find.css";

.bold{
  font-weight: 600;
}