.chat_room{
  background-color:lightblue;
}

.message__date{
  text-align:center;
  background-color:rgba(0,0,0,0.5);
  border-radius:15px;
  margin:30px 60px;
}

.message__date p {
  padding:5px;
  color:white;
  font-size:13px;
}

.message__receive{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left:7px;
}

.message__receive img{
  height:35px;
  width:35px;
  border-radius:10px;
}

.message__flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.message__receive__setter{
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.message__receive__msg{
  width:30px;
  height:30px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left:5px;
  margin-top:5px;
  border-top-left-radius: 0px;
}

.msg__send{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin:0px 5px;
}

.msg__send__setter{
  padding:7px;
  background-color:yellow;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0px;
}

.msg__send__time{
  font-size:11px;
  margin-right:5px;
}

.chat-room__btm__left i{
  color:rgba(0,0,0,0.5);
  font-size:15px;
  border-radius:5px;
  border : 2px solid rgba(0,0,0,0.5);
  padding:3px;
  margin-right:10px;
}

.chat-room__btm{
  background-color:white;
  position: fixed;
  bottom:0;
  width:100%;
  box-sizing: border-box;
  padding:5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-room__uparrow{
  position: relative;
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chat-room__uparrow i{
  position: absolute;
}

.chat-room__uparrow i:first-child{
  font-size:20px;
  right:40px;
  top:10px;
  opacity: 0.7;
  cursor: pointer;
}

.chat-room__uparrow i:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:30px;
  height:30px;
  background-color:yellow;
  border-radius:50%;
  right:4px;
  top:4px;
  cursor: pointer;
}

.chat-room__uparrow input{
  border-radius:10px;
  border: 1px solid gray;
  padding:10px 5px;
  width:100%;
}

.chat-room__btm__right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg__animation{
  animation: upper 0.5s ease-in-out;
}

@keyframes upper{
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: none;
    opacity: 1;
  }
}
/*
.msg__send__setter p{

}*/