.chat_room{
  background-color:lightblue;
}

.message__date{
  text-align:center;
  background-color:rgba(0,0,0,0.5);
  border-radius:15px;
  margin:30px 60px;
}

.message__date p {
  padding:5px;
  color:white;
  font-size:13px;
}

.message__receive{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left:7px;
}

.message__receive img{
  height:35px;
  width:35px;
  border-radius:10px;
}

.message__flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.message__receive__setter{
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.message__receive__msg{
  width:30px;
  height:30px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left:5px;
  margin-top:5px;
}