.big-friends{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.big-img{
  border-radius:20px;
  border:1px solid black;
  width:50px;
  height:50px;
  margin:15px;
}

.big-friends__font{
  font-size:15px;
  font-weight:600;
}

.line{
  border:0.25px solid gainsboro;
  margin:0px 15px;
}


/* <div class="big-friends">
      <img class="big-img" src="">
      <div class="big-friends__font">
        Woojin
      </div>
    </div> */


.friends__small-font{
  margin:15px;
  color:gainsboro;
}

.small-friends{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.small-img{
  height:40px;
  width:40px;
  border-radius:10px;
  margin-right:15px;
}

.small{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin:10px 15px;
  color: gainsboro;
}

.fa-chevron-right{
  margin-left:3px;
}

.small-friends__font{
  color:black;
}
/* <div class="friends__small-font">
      Channel
    </div>

    <div class="small-friends">
      <img src="">
      <div class="small-friends__font">
        Channel
      </div>
    </div> */