.friends-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:15px;
}

.friends-bar__big-font{
  font-size:25px;
  font-weight: 600;
}

.friends-bar__icon{
  font-size: 20px;
}
.friends-bar__icon a{
  color: black;
}
.fa-music{
  margin:0px 10px;
}

/* <div class="friends-bar">
      <div class="friends-bar__big-font">

      </div>
      <div class="friends-bar__icon">
        <i class="fas fa-search"></i>
        <i class="fas fa-music"></i>
        <i class="fas fa-cog"></i>
      </div>
    </div> */


.friends-display{
  display:flex;
  justify-content: center;
  background-color:rgba(0,0,0,0.1);
  padding:10px;
}



.fa-info-circle ,.fa-chevron-right{
  color:rgba(0,0,0,0.4);
}

p{
  color:black;
  margin:0px 5px;
}

/* <div class="friends-display">
      <i class="fas fa-info-circle"></i>
      <p>Friends' Names Display</p>
      <i class="fas fa-chevron-right"></i>
    </div> */